hr {
  border-color: black;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQncEEb8e-aJucCLU_SCwcLcTCUIHfalVbItJi6r76r8Q&s);
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
}

#sleepButton { /*you're using # because youre calling the ID*/
  background-color: aqua;
}

.input_container {
  text-align: center;
  align-items: center;
}